{% extends 'base_front.html.twig' %}

{% block title %}Oups!!! Une erreur est survenue{% endblock %}

{% block body %}
    Oups!!! Une erreur est survenue <br>
    <a href="{{ path('front_default_index') }}">Accueil</a>
{% endblock %}
