<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="red">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path('back_book_index') }}">Livres</a></li>
                    <li><a href="{{ path('back_tag_index') }}">Tags</a></li>
                    <li><a href="{{ path('front_default_index') }}">Retour au front</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
